.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



/*  Additional css for the Mcq Screen  */


.progressBarContainer {
  width: 100%;
  background-color: #ddd;
}

.progressBar {
  height: 10px;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}


.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f0f0f0; */
  padding: 0rem 10rem 0rem 10rem !important;
  margin-top: 15px !important;
}

.score {
  font-size: 13px;
}

.progressContainerBottom {
  width: 80%;
  height: 10px;
  background-color: #ddd;
  border: 1px solid #00000075;
  border-radius: 1rem;
}

.progressBarBottom {
  height: 100%;
  background-color: #007bff;
  border-radius: 1rem;
}

.optionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.question {
  padding: 0rem 10rem 0rem 10rem !important;
}

.optionCard {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(50% - 29px);
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid #00000075;
  border-radius: 1rem;
  font-size: 13px !important;
}

.optionCard:hover {
  background-color: #f0f0f0;
}

.optionCard.selected {
  background-color: #007bff;
  color: white;;
}

.maxScoreText{
  font-size: 13px;
}

.stars{
  margin-top: 15px !important;
}

.feedback{
  margin-top: 15px !important;
}

.nextButton{
  margin-top: 15px !important;
}

.topBar{
  font-weight: bold;
}